body{
    font-family: sans-serif;
    color: #f1f1f1;
    background-color: #f1f1f1;
}
.profile-card{
    padding: 5px;
    border-radius: 15px;
    width: 400px;
    margin: auto;
    background: #182C61;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}
.image-container{
    position: relative;
}
.info{
    color: #58B19F;
    margin-right: 16px;
}
.main-container{
    padding: 20px;
}
.Skill-bar{
    background-color: #4b6584;
    border-radius: 16px;
}
.progress-bar{
    padding: 0.1em  16px;
    border-radius: 16px;
    text-align: center;
    color: #4b6584;
    background-color: aqua;
}